<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="app">
        <h1>Notes App</h1>
        <div class="columns">
            <div class="column">
                <h2>To Do</h2>
                <div class="cards">
                    <div v-for="card in column1" :key="card.id" class="card">
                        <h3>{{ card.title }}</h3>
                        <ul>
                            <li v-for="item in card.items">
                                <input type="checkbox" v-model="item.done"> {{ item.text }}
                            </li>
                        </ul>
                    </div>
                </div>
                <button @click="addNewCard">Add card</button>
            </div>
            
            <div class="column">
                <h2>In Progress</h2>
                <div class="cards">
                    <div v-for="card in column2" :key="card.id" class="card">
                        <h3>{{ card.title }}</h3>
                        <ul>
                            <li v-for="item in card.items">
                                <input type="checkbox" v-model="item.done"> {{ item.text }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="column">
                <h2>Done</h2>
                <div class="cards">
                    <div v-for="card in column3" :key="card.id" class="card">
                        <h3>{{ card.title }}</h3>
                        <ul>
                            <li v-for="item in card.items">
                                <input type="checkbox" v-model="item.done"> {{ item.text }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>